.header {
  position: relative;
  background-color: #000;
  color: white;
  font-size: 30px;
  font-style: italic;
  font-weight: bolder;
  height: 70px;
  overflow: hidden;
}

.text {
  position: absolute;
  top: 15px;
  left: -30px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  cursor: default;
  pointer-events: none;
}

.linkContainer {
  padding: 10px;
  padding-bottom: 30px;
}
