.container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  font-family: monospace, 'Courier New', Courier;
}

.canvasContainer {
  position: relative;
}

.score {
  position: absolute;
  top: -26px;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 18px;
}

.gameOverView {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 5px;
  left: 0;
  padding-top: 20px;
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
  text-align: center;
}

.btn {
  font-family: inherit;
}

.btn:active {
  transform: translateY(1px);
  outline: none;
}

.btn:focus {
  outline: none;
}

.restartButton {
  border: transparent;
  background-color: #ffe66d;
  color: black;
  padding: 5px 15px;
  font-size: large;
  font-weight: 600;
  border-radius: 5px;
  margin-top: 40px;
}

.restartButton:hover {
  color: white;
}

.startButton {
  background-color: transparent;
  color: #2a2d34;
  border: transparent;
  padding: 10px 20px;
  font-size: 40px;
  text-transform: uppercase;
  font-weight: bold;
  font-style: italic;
}

.startButton:hover {
  opacity: 0.8;
}
