.container {
  position: relative;
  display: flex;
  justify-content: center;
}

.gameBoard {
  border: 1px solid black;
  width: 95%;
  max-width: 600px;
  height: 450px;
  background-color: var(--gray);
  color: var(--white);
  position: relative;
}

.startButton {
  background: transparent;
  color: var(--white);
  border: 2px solid var(--white);
  padding: 10px 20px;
  font-size: 22px;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
  outline: none;
  transition: all 150ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.startButton:hover {
  color: var(--green);
  border: 2px solid var(--green);
}

.startScreen,
.gameOverScreen {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  padding: 2em;
}

.startScreen .startButton,
.gameOverScreen .startButton {
  margin-top: 2em;
}

.playScreen {
  padding: 5px 10px;
}

.playScreen .headerRow {
  display: flex;
  flex-flow: row nowrap;
}

.headerRow .left {
  flex: 1;
  text-align: left;
  font-size: 20px;
}

.headerRow .right {
  flex: 1;
  text-align: right;
  font-size: 20px;
}

.word {
  text-align: center;
  font-weight: bolder;
  font-size: 45px;
  padding-top: 50px;
}

.letter[correct='true'] {
  color: var(--green);
}

.letter[correct='false'] {
  color: var(--wordle-yellow);
}

.score {
  padding-top: 20px;
}

@media screen and (max-width: 640px) {
  .word {
    font-size: 30px;
  }

  .container {
    padding: 1rem 0 6rem 0;
  }
}
